<!--Navigation-->
<div id="nav">
    <nav>
        <div class="cont-utility">
            <div class="container position-relative">
                <ul>
                    <li>
                        <a href="{{{link-patients}}}" target="_blank">For Patients & Caregivers</a>
                    </li>
                    <li>
                        <a class="last" href="{{{link-hcp}}}" target="_blank">For Healthcare Professionals</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cont-main">
            <div class="container position-relative">
                <!--logo-->
                <img src="{{{imgPath}}}light-at-logo.svg" alt="Agile Therapeutics Logo"/>
                <div class="cont-links">
                    <ul>
                        <li>Life Stages</li>
                        <li>Diet</li>
                        <li>Science</li>
                        <li>Resources</li>
                    </ul>
                    <!--drp dwn-->
                    <div>
                        <ul>
                            <li>Newborns</li>
                            <li>Infants & Toddlers</li>
                            <li>Primary School Children</li>
                            <li>Teens</li>
                            <li>Adults</li>
                        </ul>
                    </div>
                </div>
                <div class="cont-search-signup">
                    <div>
                        <img src="{{{imgPath}}}search-icon.svg" alt="search icon"/>
                    </div>
                    <div>
                        Sign Up
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
