<div class="hero video">
    <video loop muted autoplay poster="./assets/img/000/img_hero_home_LG.jpg" class="home--hero-video">
        <source src="./assets/videos/hb_dsa_Patient_edit03_clean.mp4" type="video/mp4">
        <source src="./assets/videos/hb_dsa_Patient_edit03_clean.webm" type="video/webm">
    </video>
</div>