<div id="pathways">
    <img class="bkg-img" src="{{{imgPath '000'}}}blob-yellow.svg" alt=""/>
    <div class="container">
        <div class="row">
            <div class="cont-left col-lg-6">
                <img src="{{{imgPath '000'}}}AT_img_home_two_boys_pathways@2x.png" alt="Two boys on a pathway"/>
            </div>
            <div class="cont-right col-lg-6">
                <p>how Galactosemia affects the body</p>
                <h2>A tale of two pathways</h2>
                <div>
                    <img src="{{{imgPath '000'}}}video-placeholder@2x.png" alt=""/>
                    <a href="#" class="transcript">View Transcript</a>
                </div>
            </div>
        </div>
    </div>
</div>