<div id="pathways-chart">
    <div class="container">
        <div class="row">
            <div class="cont-left col-lg-6">
                <p>Take a closer look</p>
                <h2>The galactose metabolic pathway</h2>
                <p>There’s more to the story about how Galactosemia affects the body.</p>
                <div class="btn-green">
                    Learn More
                </div>
            </div>
            <div class="cont-right col-lg-6">
                <div class="cont-tabs">
                    <div class="tabs">
                        <div class="active" data-tab="1">Step 1</div>
                        <div data-tab="2">Step 2</div>
                        <div data-tab="3">Step 3</div>
                    </div>
                    <div class="cont-slider">
                        <div id="tabSlider"></div>
                    </div>
                    <p data-tab-content="1">
                        When everything is working the way it should, <strong>galactose</strong> is converted by <strong>Pathway #1</strong>. In this pathway, galactose is turned into galactose-1-phosphate, or <strong>Gal-1p</strong> by the GALK enzyme.
                    </p>
                    <p data-tab-content="2">
                        Because of the inactive or missing <strong>GALT</strong> enzyme, Gal-1p can’t be processed any further. <strong>Gal-1p</strong> clogs the pathway, so galactose can’t go where it’s supposed to.
                    </p>
                    <p data-tab-content="3">
                        Backed-up galactose overflows into Pathway #2, where it shouldn’t go. An enzyme that’s not supposed to be involved—<strong>Aldose Reductase</strong>—changes galactose into toxic galactitol.
                    </p>
                    <div class="cont-img">
                        <img src="{{{imgPath "000"}}}metabolic-chart-step1@2x.png" alt="" data-tab-content="1"/>
                        <img src="{{{imgPath "000"}}}metabolic-chart-step2@2x.png" alt="" data-tab-content="2"/>
                        <img src="{{{imgPath "000"}}}metabolic-chart-step3@2x.png" alt="" data-tab-content="3"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>