<div id="words-to-know">
    <div class="container">
        <div class="row">
            <div class="cont-left col-lg-6">
                {{>accordion-block}}
            </div>
            <div class="cont-right col-lg-6">
                <img src="{{{imgPath '000'}}}img_home_know_your GEM@2x.png" alt="Father and son working on the computer together"/>
            </div>
        </div>
    </div>
</div>