<div class="cont-accordion">
    <div data-accordion-btn>
        <div class="cont-title">
            Title
        </div>
        <div class="cont-copy">
            Copy this is a test to see how this
            <br> thing expands
        </div>
    </div>
    <div data-accordion-btn>
        <div class="cont-title">
            Title
        </div>
        <div class="cont-copy">
            Copy this is a test to see how this
            <br> thing expands
        </div>
    </div>
    <div data-accordion-btn>
        <div class="cont-title">
            Title
        </div>
        <div class="cont-copy">
            Copy this is a test to see how this
            <br> thing expands
        </div>
    </div>
    <div data-accordion-btn>
        <div class="cont-title">
            Title
        </div>
        <div class="cont-copy">
            Copy this is a test to see how this
            <br> thing expands
        </div>
    </div>
    <div data-accordion-btn>
        <div class="cont-title">
            Title
        </div>
        <div class="cont-copy">
            Copy this is a test to see how this
            <br> thing expands
        </div>
    </div>
    <div data-accordion-btn>
        <div class="cont-title">
            Title
        </div>
        <div class="cont-copy">
            Copy this is a test to see how this
            <br> thing expands
        </div>
    </div>
    <div data-accordion-btn>
        <div class="cont-title">
            Title
        </div>
        <div class="cont-copy">
            Copy this is a test to see how this
            <br> thing expands
        </div>
    </div>
</div>