<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 hero--bg-newborns width-100 mx-auto">
        <div class="pl-4 hero-newborns-header-content">
            <h1 style="font-size:60px;">Galactosemia in Newborn</h1>
            <p class="header-text--light uppercase-text">(Ages 0 to 2 months)</p>
        </div>
    </div>
</div>