<div class="container-xl container-lg container-md container-sm container-xs">
    <div class="row" style="margin-bottom: 50px">
        <div class="col-12">
            <div class="section pb-xs-0">
                <!--<div class="section pb-xs-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                <!-- PROCESSING -->
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <div class="pb-3">
                            <div class="pb-3">
                                <p class="header-text--light uppercase-text">Processing</p>
                                <h2 class="header-text--h2 metabolic-section-header">The shock of diagnosis and
                                    what's next</h2>
                                <p>Having your baby diagnosed with Galactosemia can be upsetting and
                                    disorienting for you as a family. You may be feeling anxious as symptoms
                                    develop. And, you're probably thinking a lot about how you'll rise to the
                                    challenge of keeping your baby healthy.</p>
                            </div>
                            <div>
                                <h3>Potential life-threatening symptoms</h3>
                                <p>The first weeks of life hold some of the most serious threats to your child’s
                                    health. While Galactosemia has proven fatal in the past, taking decisive
                                    action with your child’s doctors can help provide the necessary care your
                                    baby needs.</p>
                            </div>
                        </div>
                    </div>
                    <div id="left-column-chart" class="col-xl-5 col-lg-5 col-md-5 offset-2 col-sm-12 col-xs-12">
                        <img src="./assets/img/001/img_newborns_processing_parents@2x.png" class="img-fluid" />
                        <div id="accordion" class="at-accordion">
                            <div class="card at-accordion-card">
                                <div class="card-header border-bottom-none at-accordion-card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button
                                            class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expaned="false"
                                            aria-controls="collapseOne">
                                            <span class="at-accordion-card-header-h2">How is Galactosemia
                                                Diagnosed?</span>
                                            <div class="reveal-button closed float-right"></div>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p class="paragraph-text--bold-16 mb-0">Newborn Screening</p>
                                        <p class="paragraph-text--regular-16">Before newborn screening was
                                            available for
                                            Galactosemia, diagnosis was often delayed or missed
                                            until babies became seriously ill. Newborn screening
                                            makes an earlier diagnosis and immediate dietary
                                            intervention more likely.</p>
                                        <p class="paragraph-text--regular-16">
                                            This is why your newborn baby will receive newborn
                                            screening soon after birth, including a heel prick blood
                                            test when they are 24-48 hours
                                            old.</p>
                                        <p class="paragraph-text--bold-16 mb-0">Positive screening results</p>
                                        <p class="paragraph-text--regular-16">The initial newborn screening will
                                            indicate if more
                                            tests are needed. Your doctor will test for Gal-1p
                                            levels to check for increases in galactose. This is
                                            because children and adults with Galactosemia will
                                            have high levels of Gal-1p in their blood. If a
                                            screening comes back positive for a condition, like
                                            Galactosemia, confirmation testing will be necessary.</p>
                                        <p class="paragraph-text--regular-16">
                                            To prevent serious illness or injury, your doctor will
                                            immediately put your baby on soy or elemental
                                            formula, even if you are waiting for the diagnosis to be
                                            confirmed.</p>
                                        <p class="paragraph-text--bold-16 mb-0">Confirmation testing</p>
                                        <p class="paragraph-text--regular-16">Follow-up testing is done as soon
                                            as possible to
                                            search for GALT gene mutations and confirm a
                                            condition like Galactosemia. It is typically done by a
                                            blood or urine test.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card at-accordion-card">
                                <div class="card-header border-bottom-none at-accordion-card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button
                                            class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapseTwo" aria-expaned="false"
                                            aria-controls="collapseTwo">
                                            <span class="at-accordion-card-header-h2 pr-4">How does confirmation
                                                testing work?</span>
                                            <div class="reveal-button closed float-right"></div>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p class="paragraph-text--regular-16">Confirmation testing looks for
                                            several clues that
                                            will confirm your child’s diagnosis</p>
                                        <p class="paragraph-text--bold-16 mb-0">GALT enzyme activity</p>
                                        <p class="paragraph-text--regular-16">Lack of GALT enzyme
                                            activity indicates that the body is missing or has an
                                            inactive enzyme needed to break down galactose. An
                                            enzyme activity test can determine whether there are
                                            low levels of enzyme activity, which allows a small
                                            amount of galactose to be metabolized.</p>
                                        <p class="paragraph-text--bold-16 mb-0">Galactitol build-up in urine</p>
                                        <p class="paragraph-text--regular-16">A urine sample may
                                            be taken to determine if there is an excessive amount
                                            of galactitol, the toxic substance made when
                                            galactose cannot be processed by the body.</p>
                                        <p class="paragraph-text--regular-16">
                                            At this point a diagnosis of Classic Galactosemia can
                                            be made.</p>
                                        <p class="paragraph-text--bold-16 mb-0">Genetic testing</p>
                                        <p class="paragraph-text--regular-16">A doctor who specializes in
                                            metabolic genetics may perform a test to understand
                                            which genetic mutation is causing your child’s
                                            Galactosemia.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card at-accordion-card">
                                <div class="card-header at-accordion-card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button
                                            class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expaned="false"
                                            aria-controls="collapseThree">
                                            <span class="at-accordion-card-header-h2">What happens after a
                                                Galactosemia diagnosis?</span>
                                            <div class="reveal-button closed float-right"></div>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p class="paragraph-text--regular-16">To prevent serious illness or
                                            injury, your doctor will immediately put your baby on
                                            soy or elemental formula.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PROCESSING ENDS -->
            </div>
        </div>

        <!-- SYMPTOMS & MONITORING STARTS  -->
        <div class="col-12 mt-5">
            <!--<div class="section pt-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                    <div class="text-center mb-5" style="max-width:716px;">
                        <p class="header-text--light uppercase-text">Symptoms & monitoring</p>
                        <h2 class="header-text--h2">Short-term symptoms & long-term complications</h2>

                        <!-- TAB Section -->
                        <div class="d-flex mt-5">
                            <div class="tab--selector tab--btn-on col-xl-6 col-lg-6 col-md-6 mx-auto pl-0">
                                <div class="tab--btn text-center">
                                    <p id="metabolic-chart-step1--text" class="tab--btn-text">Acute Symptoms</p>
                                    <div id="metabolic-chart-step1--highlight" class="tab--btn-highlight"></div>
                                </div>
                            </div>
                            <div class="tab--selector col-xl-6 col-lg-6 col-md-6 mx-auto pr-0">
                                <div class="tab--btn text-center">
                                    <p id="metabolic-chart-step2--text" class="tab--btn-text">Chronic Symptoms
                                    </p>
                                    <div id="metabolic-chart-step2--highlight" class="tab--btn-highlight"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 hide-mobile-image">
                            <div class="tab--container">
                                <p class="text-left">These symptoms can occur immediately after birth as a
                                    result of consuming too much galactose (either through breast milk or
                                    dairy-containing formula). While waiting for confirmation of Galactosemia
                                    diagnosis, your doctor will suspend dairy products and breastfeeding.</p>
                                <img src="./assets/img/001/symptoms_newborns_component1@2x.png" alt="" width="716" />
                            </div>
                            <div class="tab--off tab--container">
                                <p class="text-left">These symptoms can persist and worsen if the baby continues
                                    to consume too much galactose, either through breast milk or
                                    dairy-containing formula.
                                </p>
                                <img src="./assets/img/001/symptoms_newborns_component2@2x.png" alt="" width="716" />
                            </div>
                        </div>
                        <!-- TAB Section -->

                    </div>
                </div>
            </div>
        </div>
        <!-- SYMPTOMS & MONITORING ENDS  -->
    </div>
    <!-- LIVING WITH GALACTOSEMIA SECTION STARTS -->
</div>