<div class="row ">
    <div class="col-md-11 left-aligned-cta--newborns bg--secondary-light-blue py-5">
        <!-- WHAT MONITORING STARTS -->
        <div class="container-xl container-lg container-md container-sm container-xs">
            <div class="row">
                <div class="col-md-8">
                    <h6 class="paragraph-text--bold-20 text-color--secondary-blue">What types of testing will my
                        newborn baby need? </h6>
                    <div style="border-left: 4px solid red;">
                        <p style="margin-left:2rem;">
                            For the first year of your baby’s life, your doctor will need to monitor the amount
                            of Gal-1p in their blood at 3 months and 9 months after beginning a
                            galactose-restricted diet. This is because children and adults with Galactosemia
                            will have high levels of Gal-1p in their blood.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- WHAT MONITORING ENDS -->
    </div>
</div>