<div class="top-content py-5">
    <div class="container-md">
        <div class="row d-flex align-items-end">
            <div class="col-md-8">
                <h5 class="text-danger">KNOW YOUR HEALTHCARE TEAM</h5>
                <h2>Meet the team who will look after your baby’s health</h2>
            </div>
            <div class="col-md-4 d-flex justify-content-end align-items-center">
                <a class="carousel-control-prev position-relative" href="#carousel-example" role="button"
                    data-slide="prev">
                    <img src="./assets/img/global/btn-prev-carousel.svg">
                </a>
                <ol class="carousel-indicators carousel-large-image-format-mobile-indicators position-relative p-0 m-0">
                    <li data-target="#large-image-carousel-mobile-one" data-slide-to="0" class="active mx-2">
                    </li>
                    <li data-target="#large-image-carousel-mobile-one" data-slide-to="1" class="mx-2"></li>
                    <li data-target="#large-image-carousel-mobile-one" data-slide-to="2" class="mx-2"></li>
                </ol>
                <a class="carousel-control-next position-relative" href="#carousel-example" role="button"
                    data-slide="next">
                    <img src="./assets/img/global/btn-next-carousel.svg">
                </a>
            </div>
        </div>
        <div id="carousel-example" class="carousel slide py-3" data-ride="carousel">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                <div class="carousel-item col-12 col-sm-6 col-md-4 active">
                    <div class="p-2">
                        <div class="shadow--dk-2 rounded overflow-hidden">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5 pb-3">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose
                                        because it is made from a protein extracted from soybeans. The powered
                                        form of soy formula is generally preferred for babies with Galactosemia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4">
                    <div class="p-2">
                        <div class="shadow--dk-2 rounded overflow-hidden">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5 pb-3">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose
                                        because it is made from a protein extracted from soybeans. The powered
                                        form of soy formula is generally preferred for babies with Galactosemia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4">
                    <div class="p-2">
                        <div class="shadow--dk-2 rounded overflow-hidden">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5 pb-3">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose
                                        because it is made from a protein extracted from soybeans. The powered
                                        form of soy formula is generally preferred for babies with Galactosemia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4">
                    <div class="p-2">
                        <div class="shadow--dk-2 rounded overflow-hidden">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5 pb-3">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose
                                        because it is made from a protein extracted from soybeans. The powered
                                        form of soy formula is generally preferred for babies with Galactosemia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4">
                    <div class="p-2">
                        <div class="shadow--dk-2 rounded overflow-hidden">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5 pb-3">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose
                                        because it is made from a protein extracted from soybeans. The powered
                                        form of soy formula is generally preferred for babies with Galactosemia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4">
                    <div class="p-2">
                        <div class="shadow--dk-2 rounded overflow-hidden">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5 pb-3">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose
                                        because it is made from a protein extracted from soybeans. The powered
                                        form of soy formula is generally preferred for babies with Galactosemia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4">
                    <div class="p-2">
                        <div class="shadow--dk-2 rounded overflow-hidden">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5 pb-3">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose
                                        because it is made from a protein extracted from soybeans. The powered
                                        form of soy formula is generally preferred for babies with Galactosemia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4">
                    <div class="p-2">
                        <div class="shadow--dk-2 rounded overflow-hidden">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5 pb-3">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose
                                        because it is made from a protein extracted from soybeans. The powered
                                        form of soy formula is generally preferred for babies with Galactosemia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>