<div class="top-content py-5">
    <div class="container-md">
        <div class="row d-flex align-items-end">
            <div class="col-md-8">
                <h5 class="text-danger">KNOW YOUR HEALTHCARE TEAM</h5>
                <h2>Meet the team who will look after your baby’s health</h2>
            </div>
            <div class="col-md-4 carousel-large-image-format---controls">
                <a class="carousel-control-prev" href="#carousel-list-one" data-slide="prev">
                    <img src="./assets/img/global/btn-prev-carousel.svg">
                </a>
                <ol class="carousel-indicators carousel-large-image-format-indicators my-auto">
                    <li data-target="#carousel-list-one" data-slide-to="0" class="active mx-2"></li>
                    <li data-target="#carousel-list-one" data-slide-to="1" class="mx-2"></li>
                </ol>
                <a class="carousel-control-next" href="#carousel-list-one" data-slide="next">
                    <img src="./assets/img/global/btn-next-carousel.svg">
                </a>
            </div>
        </div>
        <div id="carousel-list-one" class="carousel slide py-3" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="p-2">
                        <div class="shadow--dk-2 rounded overflow-hidden">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5 pb-3">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose
                                        because it is made from a protein extracted from soybeans. The powered
                                        form of soy formula is generally preferred for babies with Galactosemia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="shadow--dk-2 rounded overflow-hidden">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5 pb-3">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose
                                        because it is made from a protein extracted from soybeans. The powered
                                        form of soy formula is generally preferred for babies with Galactosemia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="shadow--dk-2 rounded overflow-hidden">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5 pb-3">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose
                                        because it is made from a protein extracted from soybeans. The powered
                                        form of soy formula is generally preferred for babies with Galactosemia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="p-2">
                        <div class="shadow--dk-2 rounded overflow-hidden">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5 pb-3">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose
                                        because it is made from a protein extracted from soybeans. The powered
                                        form of soy formula is generally preferred for babies with Galactosemia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="shadow--dk-2 rounded overflow-hidden">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5 pb-3">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose
                                        because it is made from a protein extracted from soybeans. The powered
                                        form of soy formula is generally preferred for babies with Galactosemia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="shadow--dk-2 rounded overflow-hidden">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5 pb-3">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose
                                        because it is made from a protein extracted from soybeans. The powered
                                        form of soy formula is generally preferred for babies with Galactosemia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>