---
title: New Borns
meta-description: #
layout: base.hbs
url-src: ./
active-page: new-borns
canon-url: #

legal-code:
year: 2020

---

<section id="new-borns">
    <main role="main" class="container-fluid" style="margin-top: -10px; overflow-x:hidden;">
        {{> 01a-galactosemia }}
        {{> 01b-subnav }}
        {{> 01c-processing }}
        {{> 01d-what-types }}
        {{> 01e-healthcare }}
        {{> 01f-professional }}
        {{> 01g-dietary }}
        {{> 01h-galt }}
        {{> 01i-breastfeeding }}
        {{> 01j-testimonials }}
    </main>
</section>