---
title: Unsubscribe
meta-description: #
layout: base.hbs
url-src: ./
active-page: unsubscribe
canon-url: #

legal-code:
year: 2020

---

<section id="unsubscribe">
    <main role="main" class="container" style="margin-top: 10px;">
        <div class="row">
            <div class="col-12">
                
                   <div id="error-bg">
                        <div id="error-container">                       
                             <h1>Unsubscribe</h1>
                             <div id="error-container-content">
                                <p>You have been removed from our email list</p>
                              </div>
                              <p>Go back to the <a href="#">Home Page</a></p>
                          </div>
                    </div>

                   </div>

                

            </div>
        </div>
        
    </main>

</section>