---
title: Sitemap
meta-description: #
layout: base.hbs
url-src: ./
active-page: sitemap
canon-url: #

legal-code:
year: 2020

---

<section id="sitemap">
  <main role="main" class="container" style="margin-top: 10px;">
      <div class="row">
          <div class="col-12">
             <h1>Sitemap</h1>
             <ul id="sitemap--list-nav">
                 <li><a href="#">Home</a></li>
                 <li>
                     <p>Life Stages</p>
                     <ul>
                        <li><a href="#">Newborns</a></li>
                        <li><a href="#">Infants and Toddlers</a></li>
                        <li><a href="#">Primary School Children</a></li>
                        <li><a href="#">Teens</a></li>
                        <li><a href="#">Adults</a></li>
                     </ul>
                 </li>
                <li><a  href="#">Diet</a></li>
                <li><a href="#">Science</a></li>
                <li><a href="#">Resources</a></li>
                <li>
                    <a  href="#">Healthcare Professional</a>
                    <ul>
                       <li><a href="#">Galactosemia for HCPs</a></li> 
                       <li><a href="#">Mechanism of Disease</a></li> 
                        <li><a href="#">Disease Surveillance &amp; Monitoring</a></li> 
                        <li><a href="#">Clinical Guidelines</a></li>
                    </ul>
                
                </li>
             </ul>

          </div>

      </div>

  </main>

   

</section>